name: Publish Release

on:
    workflow_dispatch:
    push:
        tags:
            - "*"

jobs:
    publish:
        runs-on: windows-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - name: Set up Node.Js
              uses: actions/setup-node@v4
              with:
                  node-version-file: "package.json"
            - name: get version
              id: version
              uses: notiz-dev/github-action-json-property@release
              with:
                  path: "plugin.json"
                  prop_path: "Version"
            - run: echo ${{steps.version.outputs.prop}}
            - name: Install dependencies
              run: npm install
            - name: Build
              run: npm run build
            - name: Install only production dependencies
              run: npm install --production
            - name: Package Plugin
              run: tar -a -c -f pivotiiii.Flow-Plugin.Yu-Gi-Oh-Search.zip dist node_modules img README.md package* plugin.json SettingsTemplate.yaml
            - name: Publish
              uses: softprops/action-gh-release@v2
              with:
                  files: "pivotiiii.Flow-Plugin.Yu-Gi-Oh-Search.zip"
                  tag_name: "v${{steps.version.outputs.prop}}"
